.p-main{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-left: 5rem;
    padding-right: 5rem;
}
.p_heading{
    font-size: 1.3rem;
    text-align: center;
    margin-top: 5rem;
}
.crtn1{
    width: 100%;
    padding: 0;
    margin-top: 2rem;
    p{
        color: #848484;
        font-size: 1rem;
        text-align: center;
        margin: 0 4rem;
        line-height: 2rem;
       }
    /* img{
     height: 18rem;
     width: 20rem;
    } */
    
}
.list{
    display: grid;
    grid-template-columns: repeat(3,1fr);

}

 .projects{
    display: flex;
    margin: 1rem;
    background: #0b0b0b;
    border-radius: 1rem;
    button{
        background: #0e0e0e;
        cursor: pointer;
        height: 2rem;
        scale: 0.95;
        transition: 0.5s;
    a{
        scale: 0.95;
        margin: 0 1rem;
        font-size: 1rem;    }
}
button:hover{
    scale: 1;
    a{
        scale: 1;
    }
}
}
.viewgit{
    align-items: center;
    justify-content: center;
    margin: 5% 20%;
    button{
       justify-content: center;
bottom: 2rem;
a{
    justify-content: center;
    font-size: 1rem;
}
    }
}
.viewnogit{
    display: none;
}
.git{
  margin: 5rem 0;
  display: flex;
  justify-content: center;
  button{
    background: #0e0e0e;
    cursor: pointer;
    height: 3.2rem;
    scale: 0.9;
    transition: 0.5s;
    a{
        margin: 0 1rem;
        font-size: 1.3rem;
    }
}
button:hover{
    scale: 1;
    a{
        scale: 1;
    }
}
}
/* 
    .pimg{
        width: 25%;
        img{
        height: 100%;
        width: 100%;
    }} */
.pinfo{
    margin: 0 1rem;
    h4{
        display: inline-block;
       
        color: #d1cece;
        margin-top: 1rem;
        font-size: 1.3rem;
        cursor: pointer;
        transition: .5s;
        text-decoration: underline;
       opacity: 0.8;
    }
    h4:hover{
        opacity: 1;
    }
   
    p{
        margin: 1rem 0;
        font-size: .75rem;
        color: #535151;
    }
}
.icons{
    display:inline-block;
    margin-right: 1rem;
    color: #3e3d3d;
    margin-bottom: 1rem;
} 


@media screen and (max-width:1040px) {
    .list{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    
    }
}
@media screen and (max-width:640px) {

    .p-main{
        padding: 0;
        padding: 0 3rem;

    }
    .list{
        display: block;
        align-items: center;
    }

    .projects{
        display: flex;
        flex-wrap: wrap;
        margin: 1.5rem;
        justify-content: center;
        align-items: center;
    }
    /* .pimg{
        height: 100%;
        width: 80%;
        align-items: center;
        img{
        height: 70%;
        width: 100%;
    }} */
    .pinfo{
        text-align: center;
       
        h4{
            padding-top: 1rem;
            font-size: 1rem;
        }
        p{
            text-align: justify;
            padding-top: 1rem;
            font-size: 0.6rem;
        }
       
    }
    .crtn1{
        padding-top: 2rem;
        margin: 0;
        p{
            color: #848484;
            font-size: 1rem;
            text-align: center;
            margin: 0 1px;
            line-height: 1.5rem;
           }
    }
    .viewgit{
        margin: 0;
        padding-bottom: 0;
        button{
            position: relative;
            margin-top: 1rem;
            bottom: 10px;
            a{
                font-size: .75rem;
            }
        }
    }
    .git{
        button{
            scale: 0.8;

            a{
                font-size: 1rem;
    
            }
        }
       button:hover{
        scale: 0.9;
       }
    }
    .icons{
        margin-right: .5rem;
    }
}